
Server/.idea/.name

*.iml

Server/.idea/dictionaries/afathali.xml

Server/.idea/encodings.xml

Server/.idea/inspectionProfiles/profiles_settings.xml

Server/.idea/misc.xml

Server/MindCloud/.ropeproject/config.py

Server/.idea/workspace.xml

Server/.idea/vcs.xml

Server/.idea/scopes/scope_settings.xml

Server/.idea/modules.xml

.DS_Store

Client/IdeaStock.xcodeproj/project.xcworkspace/xcuserdata/afathali.xcuserdatad/UserInterfaceState.xcuserstate

Server/.DS_Store

*.pyc

*.pyc

Server/dropbox-python-sdk-1.5.1/.DS_Store

Server/dropbox-python-sdk-1.5.1/dropbox/.DS_Store

*.pyc

Server/MindCloud/AuthorizationHandler.pyc

Server/MindCloud/DropboxHelper.pyc

Mongodb/.DS_Store

Client/.DS_Store
