
Server/.idea/.name

*.iml

Server/.idea/dictionaries/afathali.xml

Server/.idea/encodings.xml

Server/.idea/inspectionProfiles/profiles_settings.xml

Server/.idea/misc.xml

Server/MindCloud/.ropeproject/config.py

Server/.idea/workspace.xml

Server/.idea/vcs.xml

Server/.idea/scopes/scope_settings.xml

Server/.idea/modules.xml
