html {
  height: 100%;
}

body {
  background: #fff;
  padding: 0;
  font-family: 'Lato', sans-serif;
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

strong {
  font-weight: 300;
}

input[type=text] {
  width: 200px;
  padding: 8px 7px;
  font-size: 16px;
  font-size: 1rem;
  margin-top: 20px;
  border-radius: 6px;
  border: 1px solid #fff;
  outline: none;
}

button {
  background: #5bc9e6;
  color: #fff;
  padding: 8px 15px;
  font-size: 16px;
  font-size: 1rem;
  margin-top: 20px;
  border-radius: 6px;
  border: 1px solid #5bc9e6;
  outline: none;
  cursor: pointer;
}

.wrapper {
  height: 100% !important;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.main {
  float: left;
  width: 100%;
  margin: 0 auto;
}

.btn {
  width: 200px;
  color: rgb(255, 255, 255);
  border: 4px solid rgb(0, 0, 0);
  background: rgba(3, 3, 3, 0.75);
}

.clear {
  width: auto;
}

header {
  position: relative;
  z-index: 10;
}

.main section .page_container {
  position: relative;
  margin: 0 auto 0;
  max-width: 800px;
  z-index: 3;
  height: 100%;
  overflow: hidden;
}

.main section {
  overflow: hidden;
  background-image: url('../images/noisy-texture-100x100.png');
}

.main section > img {
  position: absolute;
  max-width: 100%;
  z-index: 1;
}

.main section p {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 300;
  color: #fff;
}

.main section h1 {
  margin-bottom: 5px;
  padding: 0;
  margin-bottom: 0;
  font-size: 60px;
  font-size: 3.75rem;
  font-weight: 100;
  letter-spacing: -1px;
  color: #fff;
  display: inline-block;
}

.main section h2 {
  margin: 0;
  color: #fff;
  line-height: 160%;
  font-weight: 100;
  font-size: 21px;
  font-size: 1.3125rem;
  font-weight: 300;
  margin-top: 30px;
}

.main section.page1 {
  background-color: #4371c6;
  background-image: url('../images/noisy-texture-100x100.png');
}

.main section.page1 .page_container {
  position: absolute;
  width: 800px;
  height: 600px;
  left: 50%;
  margin-left: -400px;
  top: 50%;
  margin-top: -300px;
}

.main section.page1 h2 {
  color: #8CB9F6;
  font-size: 24px;
  font-size: 1.7rem;
}

.main section.page1 .logo {
  display: inline-block;
  font-size: 65px;
  font-size: 4rem;
  font-weight: 300;
  color: #fff;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  width: 300px;
  height: 100px;
}

.main section.page1 .navbar {
  float: right;
  margin-top: 100px;
  display: none;
}

.main section.page1 .navbar ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main section.page1 .navbar ul li {
  display: list-item;
  float: left;
  margin-right: 30px;
}

.main section.page1 .navbar ul li a {
  color: #8cb9f6;
}

.main section.page1 .intro_text {
  margin-top: 30px;
  width: 350px;
}

.main section.page1 .intro_text p {
  font-size: 1.4rem;
}

.main section.page1 .join_beta {
  margin-top: 70px;
  width: 400px;
}

.main section.page1 .join_beta p {
  font-size: 16px;
  font-size: 1.0rem;
}

.main section.page1 .hero_image {
  background-image: url('../images/app-hero3.png');
  background-repeat: no-repeat;
  float: right;
  width: 450px;
  height: 630px;
}


/*** page 2 ***/

.main section.page2 {
  background: #58adc4;
  background-image: url('../images/noisy-texture-100x100.png');
}

.main section.page2 .intro_text {
  width: 400px;
  height: 500px;
  position: absolute;
  top: 50%;
  margin-top: -250px;
}

.main section.page2 .smart_notes_hero_image {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  background-image: url('../images/smart-notes-hero.png');
  background-repeat: no-repeat;
}


/*** page 3 ***/

.main section.page3 {
  background: #7FB209;
  background-image: url('../images/noisy-texture-100x100.png');
}

.main section.page3 .intro_text {
  width: 400px;
  height: 500px;
  position: absolute;
  top: 50%;
  margin-top: -250px;
  left: 50%;
}

.main section.page3 .drawing_hero_image {
  width: 400px;
  height: 600px;
  position: absolute;
  top: 50%;
  margin-top: -250px;
  background-image: url('../images/drawing-hero.png');
  background-repeat: no-repeat;
}


/*** page 4 ***/

.main section.page4 {
  background: #8971C6;
  background-image: url('../images/noisy-texture-100x100.png');
}

.main section.page4 .page_container {
  position: absolute;
  width: 800px;
  height: 600px;
  left: 50%;
  margin-left: -400px;
  top: 50%;
  margin-top: -300px;
  text-align: center;
}

.main section.page4 .intro_text {
  margin: 0 auto;
  width: 600px;
}

.main section.page4 .collaboration_hero_image {
  margin: 20px auto;
  width: 800px;
  height: 400px;
  background-image: url('../images/collaboration-hero.png');
  background-repeat: no-repeat;
}


/*** page 5 ***/

.main section.page5 {
  background: #d97256;
  background-image: url('../images/noisy-texture-100x100.png');
}

.main section.page5 .page_container {
  position: absolute;
  width: 800px;
  height: 600px;
  left: 50%;
  margin-left: -400px;
  top: 50%;
  margin-top: -300px;
  text-align: center;
}

.main section.page5 .intro_text {
  margin: 0 auto;
  width: 600px;
}

.main section.page5 .organize_notes_hero_image {
  margin: 20px auto;
  width: 700px;
  height: 400px;
  background-image: url('../images/organize-notes-hero.png');
  background-repeat: no-repeat;
}

